<p>
    <mat-toolbar color="accent">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <img src="../../assets/img/pokeball32.png" alt="">
    </button>
    <span class="example-spacer"></span>
    <span>PokeTienda</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/shoppingcart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>
